<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.renyi.maxsin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    //获取设备网络状态，禁用后无法获取网络状态
    //网络权限，当禁用后，无法进行检索等相关业务
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    //读取设备硬件信息，统计数据
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    //获取统计数据
    <uses-permission android:name="android.permission.GET_TASKS"/>
    //鉴权所需该权限获取进程列表
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".AppConfigApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label, theme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".module.me.PullScrollViewActivity"/>
        <activity android:name=".view.headpic.ClipImageActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.renyi.maxsin.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".module.Study.CourseDetailActivity">
        </activity>
        <activity android:name=".module.get.ActivityDetailsActivity">
        </activity>
        <activity android:name=".module.get.NewsDetailsActivity">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".module.Study.OperationActivity">
        </activity>
        <activity android:name=".module.login.BindingPhoneNumeberActivity">
        </activity>
        <activity android:name=".module.me.PersonalMsgActivity">
        </activity>
        <activity android:name=".module.me.ChangePersonalMsgActivity">
        </activity>
        <activity android:name=".module.me.MyCollectionActivity">
        </activity>
        <activity android:name=".module.me.MyActivityActivity">
        </activity>
        <activity android:name=".module.me.MySeettingActivity">
        </activity>
        <activity android:name=".module.me.SuggestionActivity">
        </activity>
        <activity android:name=".module.me.AboutAppActivity">
        </activity>
        <activity android:name=".module.me.UserProtocolOrIntroduceActivity">
        </activity>
        <activity android:name=".module.login.VerificationPhoneNumberActivity">
        </activity>
        <activity android:name=".module.me.MyBindingPhoneNumberActivity">
        </activity>
        <activity android:name=".module.me.MyVerificationPhoneActivity">
        </activity>
        <activity android:name=".module.me.MyBindingNewPhonePostActivity">
        </activity>
        <activity android:name=".module.me.MyReleaseActivity"/>
        <activity android:name=".module.me.MyChangePsdActivity"/>
        <activity android:name=".module.me.MyMessageActivity"/>
        <activity android:name=".module.login.SplashActivity">
        </activity>
        <activity android:name=".module.me.MeCenterActivity">
        </activity>
        <activity android:name=".module.release.ReleaseImageAndTextActivity">
        </activity>
        <activity android:name=".module.release.ClipCoverImageActivity">
        </activity>
        <activity android:name=".module.release.SelectTagTitleActivity">
        </activity>
        <activity android:name=".module.release.SelectTypeActivity">
        </activity>
        <activity android:name=".module.me.FollowActivity">
        </activity>
        <activity android:name=".module.me.ReleaseDetailsActivity">
        </activity>
        <activity android:name=".module.me.CollectionActivity">
        </activity>
        <activity android:name=".module.Study.StudyActivity">
        </activity>
        <activity android:name=".module.mvp.SearchMvpActivity">
        </activity>
        <activity android:name=".module.maxsin.StudentExampleactivity">
        </activity>
        <activity android:name=".module.maxsin.StudentExampleDetailsactivity">
        </activity>
        <activity android:name=".module.maxsin.UniversitiesRankingActivity">
        </activity>
    </application>

</manifest>